protobuf==3.20
pandas
numpy
matplotlib
wordcloud

openai
transformers
datasets
keras
huggingface_hub
bertopic
tensorflow
torch
langchain

tweepy
requests

git-lfs
gradio
ipython
ipywidgets
jedi
clean-text
unidecode
google
pandas_gbq
pyvis

disnake==2.5.1
aiohttp